Source: ogre-next-225
Version: 2.2.5
Build-Depends: freeimage, freetype, rapidjson, zlib, zziplib
Description: 3D Object-Oriented Graphics Rendering Engine

Feature: d3d9
Description: Build Direct3D9 RenderSystem

Feature: java
Description: Build Java (JNI) bindings

Feature: python
Description: Build Python bindings
Build-Depends: python3
